<h2>Create Post</h2>
<form action="/post/createPost" method="post" enctype="multipart/form-data">
  <input
    type="text"
    name="title"
    placeholder="Title"
    value="<%= post.title %>"
    required
  />
  <textarea name="description" placeholder="Description" required ><%= post.description %></textarea>
  <textarea name="content" placeholder="Content" required ><%= post.content %></textarea>
  <input name="file" type="file" />
  <select name="category" multiple>
    <% categories.forEach((category) => { %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% }) %>
  </select>
  <div>
    <input type="radio" name="private" value="false" checked />
    <label for="public">Public</label>
  </div>

  <div>
    <input type="radio" name="private" value="true" />
    <label for="private">Private</label>
  </div>
  <button type="submit">Submit</button>
  <a href="/">Cancel</a>
</form>
