<h1>Edit post</h1>

<form
  class="loginForm"
  action="/post/editPost/<%= post.id %>?_method=PUT"
  method="post"
>
  <div class="formInputMaterial">
    <input
      class="inputArea"
      type="text"
      maxlength="75"
      name="title"
      value="<%= post.title %>"
      required
    />
    <label class="labelName" for="title">
      <span class="contentName">Title</span>
    </label>
  </div>
  <div class="formInputMaterial">
    <textarea name="description" maxlength="100" required>
<%= post.description %></textarea
    >
    <label class="labelName" for="description">
      <span class="contentName">Description</span>
    </label>
  </div>
  <div class="formInputMaterial">
    <textarea name="content" maxlength="500" required>
<%= post.content %></textarea
    >
    <label class="labelName" for="content">
      <span class="contentName">Content</span>
    </label>
  </div>
  <div class="formInputMaterial">
    <select class="categorySelect" name="category">
      <% categories.forEach((category) => { %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% }) %>
    </select>
  </div>
  <div>
    <input type="radio" name="private" value="false" checked />
    <label for="public">__Public</label>
  </div>
  <div>
    <input type="radio" name="private" value="true" />
    <label for="private">__Private</label>
  </div>

  <button type="submit" class="linkBtn">Submit</button>
  <a class="linkBtn" href="/">Cancel</a>
</form>
