<div class="container">
  <div class="content">
    <% posts.forEach((post) => { %>
    <div class="post">
      <img src="<%= post.image %>" />
      <h2><%= post.title %></h2>
      <p><%= post.description %></p>
      <div class="actions">
        <a class="linkBtn" href="/post/<%= post.id %>">read</a>
        <% if (currentUser._id === post.author._id.toString()) { %>
          <a class="linkBtn" href="/post/editPost/<%= post.id %>">Edit</a>
          <form action="/post/<%= post.id %>?_method=DELETE" method="post">
            <button class="linkBtn" role="button" type="submit">Delete</button>
          </form>
        <% } %>
      </div>
    </div>
    <% }) %>
  </div>
</div>
