<<<<<<< HEAD
<ul>
  <div class="container">
    <% posts.forEach((post) => { %>
      <li class = "post">
        <%= post.title %>
        <img src="<%= post.image %>" />
        <a href="/post/<%= post.id %>">Read</a>
      </li>
      <% }) %>
  </div>
  </ul>
=======
<div class="container">
  <div class="content">
    <% posts.forEach((post) => { %>
    <div class="post">
      <img src="<%= post.image %>" />
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
      <a href="/post/editPost/<%= post.id %>">Edit</a>
      <div class="actions">
        <form action="/post/<%= post.id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
    <% }) %>
  </div>
</div>
>>>>>>> a8de39cdf703e0167ab40de6e375a9e7753e7b47
