<h2><%= post.title %></h2>
<h3><%= post.content %></h3>


<img src="<%= post.image %>" />

<ul>
  comments <% post.comments.forEach(comment => { %>
  <li><%= comment.content %></li>
  <% }) %>
</ul>

<form action="/comment/create/<%= post.id %>" method="post">
  <input type="text" name="content" />
  <button type="submit">submit</button>
</form>