<div class="readPost">
  <div class="imgInPost">
    <img src="<%= post.image %>" />
  </div>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
</div>

<ul class="comments">
  Comments <% post.comments.forEach(comment => { %>
  <li><%= comment.content %></li>
  <% }) %>
</ul>

<form class="loginForm" action="/comment/create/<%= post.id %>" method="post">
  <div>
    <input class="inputArea" type="text" maxlength="100" name="content" />
    <label class="labelName" for="content">
      <span class="contentName">Comment</span>
    </label>
  </div>
  <button class="linkBtn" type="submit">Submit</button>
</form>